<div class="modal">
  <label for="modal-1">
    <!-- <div class="modal-trigger">click for large view</div> -->
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <!-- <h1> image title </h1> -->
  <!--     <p class="modal-intro">***** pull in intro for image ***** </p> -->
      <!-- <p class="modal-content"> ***** pull in body text *****</p> -->
    </div>
  </div>
</div>
