<!-- <h2 class="pagetitle"> edit story </h2>  -->

<div class="editstory">	

<%= render 'form' %>
<br>

 <%#= link_to 'delete story', @article, method: :delete %>

 </div>

 <div>

 <%= render 'apicolumn' %>

 </div>