<div class="articles">


<p>___________________________</p>


<% @articles.each do |article| %>

	
	<p><%= link_to article.title, article %></p>
	<p><%= article.body %></p>
	
	<p class="editinglinks"><%= 
	 link_to 'edit story', edit_article_path(article) %> | <%= link_to 'delete story', article_path(article), method: :delete %> </p>


	<p>___________________________</p>

	<% end %>

	</div>
	
