
<div class="form">

<%= render 'form' %>

</div>

<div class="imageform">

<%#= simple_form_for @artwork, url: artworks_path do |form| %>
  <%#= form.input :avatar, as: :file %>
<%# end %>

</div>

<div>

<%= render 'apicolumn' %>

</div>
