
<div class="form">

<%= render 'form' %>

</div>

<div class="api_column"> api column

	<img class="api_column_images", src="an_old_woman_reading.jpg", alt="old woman reading", title="Old Woman Reading...">


</div>
