<div class="navbar"> 
	<nav>

<h1> story teller </h1>

<h3> new story </h3>

<%= link_to 'my dashboard', dashboard_path %>  <%= link_to 'my stories', articles_path %>  <%= link_to 'home', root_path %>

	</nav>
</div>
<div class="form">

<%= render 'form' %>

</div>
