<div class="navbar"> 
	<nav>

	<h1 class="title"> story teller </h1>


	<h3>dashboard</h3>

	<%= link_to 'home', root_path %>  <%= link_to 'new story', new_article_path %> <%= link_to 'my stories', articles_path %>

	</nav>
</div>
