<h2 class="welcomeheadline"> Using Art Collector </h2>

<p> Art lover, create your story using the "new story" link above.  Give your story a title, write it and from the column on the right, you can click on any image to add it to the body of your story.   
</p>

<p> You can always go back to your previous stories and edit them or even delete them...go to the list of them using the "my stories" link above.</p>