<h1>Test</h1>

<!-- <div id="rijksthumbnails"> -->
<%# @art["artObjects"].each do |work| %>
	<!-- <div> -->
		<!-- <p><%#= work["longTitle"] %></p> -->
		<%#= image_tag work["webImage"]["url"][0...-1].concat("128") %>
		<%# work["headerImage"].inspect %>
	<!-- </div> -->
<%# end %>



<!-- </div> -->