// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


f.label {
	font-family: Raleway, sans-serif;
	text-color: #001021;
}

f.text_field {
	font-family: Raleway, sans-serif;
	text-color: #001021;
}

f.text_area {
	font-family: Raleway, sans-serif;
	text-color: #001021;
}

f.submit {
	font-family: Raleway, sans-serif;
	text-color: #001021;
}