// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// 
body {
	@include outer-container(100%);
	background-image: url('fabricbackground.png');
}
// .wholething {
// 	@include outer-container(100%);
// }

.navbar {
	@include span-columns(12);
	font-family: Raleway, sans-serif;
	color: #DADFF7;
	// background-image: url('bindingdark.png');
	background-color: #001021;
	a {text-decoration: none;
		color: #DADFF7;
		.title {
			@include span-columns(4);
		}
	}
}





// body {
// 	background-image: #E7ECEF;
// 	margin: 0px;

// 	h1 {
// 		font-family: Raleway, sans-serif;
// 		color: #DADFF7;

// 		nav {
// 			background-color: #413C58;
// 			// border-bottom: 2px #8E0045 solid;
// 			width: 100%;
// 			height: 75px;
// 			margin-top: 0px;
// 			position: 0, 0;

// 			a {
// 				text-decoration: none;
// 				font-size: 25px;
// 				color: #8E0045;

			
// 			}
// 		}
// 	}
// }

